# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment variables
.env

# Gradio
.gradio/

# Chroma DB
chroma_langchain_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db